*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(226, 226, 226);
}

#header{
    display: flex;
    background-color: rgb(25, 13, 68);
    padding: 10px;
    color: white;
    font-size: 15px;
}

#profile{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#profile img{
    width: 100px;
    border-radius: 150px;
    padding: 5px;
    background-color: rgb(226, 226, 226);
    cursor: pointer;
    margin-top: 10px;
}

#greetings{
    margin-top: 50px;
    font-size: 50px;
}

#my_detail{
    font-size: 17px;
}

#fillerA{
    background-color: rgb(25, 13, 68);
    height: 50px;
    
}

#fillerB{
    background-color: rgb(226, 226, 226);
    height: 50px;
    margin-top: -25px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#locate{
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#programming, #graphical{
    background-color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bolder;
    color: black;
    border-width: 1px;
    margin: 10px;
    cursor: pointer;
}

#locate .active{
    background-color: rgb(60, 45, 112);
    color: white;
}

#content .hide{
    display: none;
}

#programming_content{
    background-color: rgb(226, 226, 226);
    
}

#skills{
    margin-top: 40px;
    text-align: center;
}

#skillist{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#skillist h6{
    background-color: rgb(45, 112, 62);
    color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
    cursor: pointer;
}

#data{
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;  
    justify-content: center;
}

#item{
    margin: 10px;
    background-color: rgb(25, 13, 68);
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    color: white;
    cursor: pointer;
}

#item img{
    height: 300px;
    border-radius: 10px;
}

#fillerD{
    background-color: rgb(226, 226, 226);
    height: 100px;
    margin-top: -75px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}


#footer{
    background-color: black;
    color: white;
    text-align: center;
}

#contactME{
    /*margin-left: 50px;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

#contacage{
    justify-content: center;
    list-style: none;
    display: flex;
    flex-direction: row;
}

#contacage li img{
    width: 30px;
    margin: 2px;
    cursor: pointer;
}

#footname{
    margin-top: 20px;
    font-size: 30px;
}