*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(226, 226, 226);
}

#header{
    /*flex-wrap: wrap;*/
    background-color: rgb(25, 13, 68);
    display: flex;
    flex-direction: row;
}

#header .mob{
    display: none;
}

#profile img{
    width: 300px;
    border-radius: 200px;
    padding: 50px;
}

#self_intro{
    color: white;
}

#self_intro h1{
    font-size: 50px;
    margin-top: 70px;
}

#self_intro h3{
    font-size: 30px;
}

#self_intro p{
    font-size: 17px;
}

#this{
    margin-top: 30px;
}

#skills{
    display: flex;
    flex-wrap: wrap;
}

#skills h6{
    font-size: 15px;
    background-color: rgb(129, 129, 201);
    color: black;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
}

#self_intro button{
    margin-top: 20px;
    padding: 10px;
    font-size: 24px;
    color: white;
    background-color: transparent;
    border-color: white;
}

#fillA{
    background-color: rgb(25, 13, 68);
    height: 100px;
    margin-top: -90px;
}
#fillB{
    background-color: rgb(226, 226, 226);
    height: 100px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -50px;
}

.uno{
    margin-top: -80px;
}

#Content{
    margin-bottom: 100px;
    /*background-color: red;*/
}

#Titles{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

#data{
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

#items{
    background-color: rgb(90, 90, 90);
    margin: 5px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

#items img{
    width: 450px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#items h4{
    color: white;
    font-size: 24px;
}

#fillerD{
    background-color: rgb(226, 226, 226);
    height: 100px;
    margin-top: -100px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}


#footer{
    background-color: black;
    color: white;
    text-align: center;
}

#contactME{
    /*margin-left: 50px;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

#contacage{
    justify-content: center;
    list-style: none;
    display: flex;
    flex-direction: row;
}

#contacage li img{
    width: 30px;
    margin: 2px;
    cursor: pointer;
}

#footname{
    margin-top: 20px;
    font-size: 30px;
}

/*#self_intro{
    background-color: pink;
}*/

@media(max-width:1670px){
    #fillA{
        background-color: rgb(25, 13, 68);
        height: 125px;
        margin-top: -90px;
    }
}

@media(max-width:1420px){
    #fillA{
        background-color: rgb(25, 13, 68);
        height: 150px;
        margin-top: -90px;
    }
}

@media(max-width:809px){
    #header{
        display: flex;
        position: sticky;
        flex-wrap: wrap;
        flex-direction: row;
        height: 80px;
    }
    #header .mob{
        display: block;
    }

    #profile{
        top: -20000px;
        position: relative;
        background-color: black;
        width: 100%;
        /*margin-top: -1000px;*/
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;
        display: flex;
        transition: "0.3s ease";
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    #profile img{
        margin-top: 10px;
        background-color: white;
        width: 200px;
        padding: 10px;
    }

    #self_intro{
        top: -20000px;
        position: relative;
        background-color: black;
        padding: 10px;
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        /*margin: 10px;*/
        text-align: center;
        transition: "0.3s ease";
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    
    #self_intro h1{
        margin-top: 0;
    }

    #skills{
        justify-content: center;
    }
}
@media(max-width:500px){
    #Titles{
        font-size: 30px;
    }
    #items img{
        width: 450px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}
@media(max-width:475px){
    #items img{
        width: 400px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}
@media(max-width:450px){
    #profile img{
        width: 100px;
        padding: 5px;
    }
    #self_intro h1{
        font-size: 30px;
    }
    #self_intro h3{
        font-size: 20px;
    }
    #self_intro p{
        font-size: 15px;
    }

    #items img{
        width: 375px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

@media(max-width:420px){
    #items img{
        width: 300px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}