*{
    padding: 0;
    margin: 0;

}

#canvas{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: red;
    margin-left: auto;
    margin-right: auto;

}

#ID{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
svg{
    margin-left: auto;
    margin-right: auto;
    scale: 50%;
}
image{
    width: 60px;
    height: 60px;
    x:120px;
    y:120px;
}